# Song Recommendations
## 오태건(20224071)

In [1]:
import requests

In [2]:
url = 'https://storage.googleapis.com/maps-premium/dataset/yes_complete/train.txt'

In [3]:
resp = requests.get(url)

In [4]:
#\n = line break
lines = resp.text.split('\n')[2:]

In [5]:
len(lines)

11138

In [6]:
lines[0]

'0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 2 42 43 44 45 46 47 48 20 49 8 50 51 52 53 54 55 56 57 25 58 59 60 61 62 3 63 64 65 66 46 47 67 2 48 68 69 70 57 50 71 72 53 73 25 74 59 20 46 75 76 77 59 20 43 '

In [7]:
playlists = [x.strip().split() for x in lines]

In [11]:
# 플레이 리스트가 하나 인거는 제외
playlists = [x for x in playlists if len(x) > 1]

In [9]:
len(playlists)

11088

In [12]:
playlists[0]

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '2',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '20',
 '49',
 '8',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '25',
 '58',
 '59',
 '60',
 '61',
 '62',
 '3',
 '63',
 '64',
 '65',
 '66',
 '46',
 '47',
 '67',
 '2',
 '48',
 '68',
 '69',
 '70',
 '57',
 '50',
 '71',
 '72',
 '53',
 '73',
 '25',
 '74',
 '59',
 '20',
 '46',
 '75',
 '76',
 '77',
 '59',
 '20',
 '43']

## Training the Word2Vec Model

In [13]:
from gensim.models import Word2Vec

In [14]:
model = Word2Vec(
    playlists,
    vector_size=32,
    window=20,
    negative=50,
    min_count=1,
    workers=4,
)

## Song Title and Artist File

In [15]:
url = 'https://storage.googleapis.com/maps-premium/dataset/yes_complete/song_hash.txt'

In [16]:
resp = requests.get(url)

In [17]:
songs = resp.text.split('\n')
songs = [x.strip().split('\t') for x in songs]

In [18]:
songs[:3]

[['0 ', 'Gucci Time (w\\/ Swizz Beatz)', 'Gucci Mane'],
 ['1 ', 'Aston Martin Music (w\\/ Drake & Chrisette Michelle)', 'Rick Ross'],
 ['2 ', 'Get Back Up (w\\/ Chris Brown)', 'T.I.']]

In [20]:
import pandas as pd

In [21]:
df_songs = pd.DataFrame(data=songs, columns=['id', 'title', 'artist'])

In [22]:
df_songs['id'] = df_songs['id'].str.strip()

In [23]:
df_songs = df_songs.set_index('id')

In [24]:
df_songs

                                                   title           artist
id
0                           Gucci Time (w\/ Swizz Beatz)       Gucci Mane
1      Aston Martin Music (w\/ Drake & Chrisette Mich...        Rick Ross
2                          Get Back Up (w\/ Chris Brown)             T.I.
3                     Hot Toddy (w\/ Jay-Z & Ester Dean)            Usher
4                                           Whip My Hair           Willow
...                                                  ...              ...
75258                                          USA Today     Alan Jackson
75259                                          Superstar        Raul Malo
75260                                Romancin' The Blues    Giacomo Gates
75261                                       Inner Change  The Jazzmasters
                                                    None             None

[75263 rows x 2 columns]

In [25]:
df_songs[df_songs['artist'] == 'Norah Jones']

                                  title       artist
id
4846                     Don't Know Why  Norah Jones
4896                    Chasing Pirates  Norah Jones
4905                            Sunrise  Norah Jones
4978                  Come Away With Me  Norah Jones
5126                 Thinking About You  Norah Jones
7122                      Tell Yer Mama  Norah Jones
11133                        Turn Me On  Norah Jones
11155              Feelin' The Same Way  Norah Jones
12981                    Be My Somebody  Norah Jones
13039                     It's Gonna Be  Norah Jones
17893                 Back To Manhattan  Norah Jones
20371                    My Blue Heaven  Norah Jones
20378               The Nearness Of You  Norah Jones
22858                 What Am I To You?  Norah Jones
23920                   Cold Cold Heart  Norah Jones
23941                 Those Sweet Words  Norah Jones
24064                    In The Morning  Norah Jones
24179         I've Got To See You Again  Norah Jones
24191                       Nightingale  Norah Jones
24200             Don't Miss You At All  Norah Jones
24779                   American Anthem  Norah Jones
27367                   One Flight Down  Norah Jones
35749               The Prettiest Thing  Norah Jones
36570                      Not Too Late  Norah Jones
38858                       Even Though  Norah Jones
46578                    Shoot The Moon  Norah Jones
53276                   Man Of The Hour  Norah Jones
56079    Creepin' In (w\/ Dolly Parton)  Norah Jones
56088     Bull Rider (w\/ Sasha Dobson)  Norah Jones
58738                 The Long Way Home  Norah Jones
59277  I Think It's Going To Rain Today  Norah Jones
61848                        Wake Me Up  Norah Jones
70796                       Young Blood  Norah Jones
72009          The Sun Doesn't Like You  Norah Jones
72574                             Stuck  Norah Jones
73934                      Painter Song  Norah Jones

In [26]:
df_songs.iloc[[1, 10, 100]]

                                                 title        artist
id
1    Aston Martin Music (w\/ Drake & Chrisette Mich...     Rick Ross
10                                            Shake It  Elephant Man
100                                          I'm Yours    Jason Mraz

### Recommend similar songs

In [27]:
song_id = '4846'

In [28]:
df_songs.loc[song_id]

title     Don't Know Why
artist       Norah Jones
Name: 4846, dtype: object

In [29]:
similars = model.wv.most_similar(positive=song_id)
similars

[('5260', 0.9912316799163818),
 ('3742', 0.9906894564628601),
 ('5219', 0.989006519317627),
 ('3938', 0.9888371825218201),
 ('3856', 0.9886481761932373),
 ('8405', 0.9849908947944641),
 ('3985', 0.9831902980804443),
 ('4896', 0.9830371737480164),
 ('8379', 0.9825888276100159),
 ('4987', 0.9809603691101074)]

In [30]:
import numpy as np

In [31]:
similar_ids = np.array(similars)[:,0]

In [32]:
df_songs.loc[similar_ids]

                             title                   artist
id
5260                    White Flag                     Dido
3742                        I.G.Y.             Donald Fagen
5219             Fly Like An Eagle                     Seal
3938                       Missing  Everything But The Girl
3856  It Ain't Over 'til It's Over            Lenny Kravitz
8405                         Angel          Sarah McLachlan
3985                     Thank You                     Dido
4896               Chasing Pirates              Norah Jones
8379                          True           Spandau Ballet
4987                  Deacon Blues               Steely Dan

### Recommendation algorithms

* Content-based filtering
* Collaborative filtering <= Word2Vec